<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- from/for Bootstrap -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    {{install_resource_loading_errorcheck_functions}}

    <!-- Bootstrap -->
    {{load_css
        nickname="bootstrap-css"
        production_path="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
        development_path="assets/css/bootstrap.min.css"
    }}

    <!-- from/for Bootstrap -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      {{{contentFromMarkdown}}}
    </div><!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {{#if productionLike}}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {{else}}
      <script src="assets/js/jquery.min.js"></script>
    {{/if}}


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {{load_js
        nickname="bootstrap-js"
        production_path="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"
        development_path="assets/js/bootstrap.min.js"
    }}

    {{perform_resouce_loading_errorcheck}}
  </body>
</html>
